#member {
    width: 100px;
}

#member img {
    width: 100px;
    border-radius: 50%
}


#random-members-box {
    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: orange;
    height: 175px;
}

#member {
    margin: 7px;

}
